@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.menu__list {
    @include list-reset;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    // height: rem(16);
    // gap: 20px;

    @include md {
        display: none;
        align-items: revert;
        justify-content: revert;
        gap: 0;
    }
}

.menu__toggle {
    display: none;
    width: rem(48);
    height: rem(48);
    padding: 0;

    @include md {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu__item {
    &>a {
        text-decoration: none;
    }

    @include md {
        // &:not(:last-child) {
        //     border-bottom: rem(1) solid rgba(255, 255, 255, 0.5);
        // }
        border-bottom: rem(1) solid rgba(255, 255, 255, 0.5);
    }
}

.menu__item-link {

    @include md {
        display: block;
        padding: rem(16) 0;
        text-align: center;
        color: $color-text-white;
    }

    &::after {
        content: "";
        border-bottom: 2px solid $color-primary;
        display: block;
        margin-top: 2px;
        transform: scaleX(0);

        @include md {
            display: none;
        }
    }

    &--current {
        &::after {
            content: "";
            border-bottom: 2px solid $color-primary;
            display: block;
            margin-top: 2px;
            transform: scaleX(100%);

            @include md {
                display: none;
            }
        }
    }

    &:hover::after {
        transition: transform 0.3s ease;
        transform: scaleX(100%);
    }

    &:focus::after {
        transform: scaleX(100%);
    }
}

.menu__toggle-icon {
    display: inline-flex;
    flex-direction: column;
    width: rem(16);
    height: rem(16);
    position: relative;
    gap: rem(4);

    .line {
        display: block;
        width: 100%;
        height: rem(2);
        background-color: $color-text-black;
        border-radius: 1px;
        opacity: 1;
        transform: rotate(0) translateY(0) translateX(0);
        transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
    }

    .line-1 {
        transform-origin: rem(-1) rem(6);
    }

    .line-3 {
        transform-origin: rem(3) rem(-1);
    }
}

.menu__toggle.menu__toggle--active {
    .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
    }

    .line-2 {
        opacity: 0;
    }

    .line-3 {
        transform: rotate(-45deg) translateY(0) translateX(0);
    }

    @include md {
        +.menu__list {
            display: flex;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: #333333;
            flex-direction: column;
            border-top: rem(1) solid rgba(255, 255, 255, 0.5);
            // z-index: 10;
            height: 100vh;
        }
    }
}