@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.booking-form {
    position: absolute;
    top: rem(100);
    right: rem(100);
    width: rem(428);
    background-color: rgba($color-form, 90%);
    border-radius: rem(20);
    padding: rem(40);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: rem(32);
        font-weight: 600;
        padding-bottom: rem(20);

        @include sm {
            font-size: rem(26);
        }
    }

    &>button {
        width: 100%;
    }

    @include md {
        position: relative;
        top: rem(-102);
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba($color-form, 100%);
    }

    @include sm {
        padding: rem(25) rem(20);
        margin-top: rem(14);
    }

    &--cars-page {
        position: sticky;
        top: 0;
        padding: 0 rem(20) rem(10);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($color-form, 100%);
        border-radius: rem(20);
        margin: 0 0 rem(30);
        z-index: 1;

        @include md {
            display: none;
        }
    }

    &--cars-page--mobile {
        display: none;

        @include md {
            position: sticky;
            top: 0;
            // padding: rem(10) rem(20);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba($color-form, 100%);
            border-radius: rem(20);
            margin: 0 0 rem(30);
            z-index: 1;
        }

        @include sm {
            margin: 0 0 rem(30);
        }
    }
}

.booking-txt-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(14);
    padding-bottom: rem(10);

    p {
        font-weight: 600;
        margin: 0;
    }

    a {
        color: $color-text-link;
    }

    &--cars-page {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 rem(10);
        width: 100%;
    }

    &--cars-page-mobile {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: rem(14) rem(20);
        gap: rem(5);

        p {
            margin: 0;
        }

        a {
            color: $color-text-link;
            text-decoration: none;
        }

        &--text {
            @include sm {
                font-size: rem(15);
            }
        }
    }
}

.select-block {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.mobile-container {
    @include sm {
        width: 100%;
        height: 20px;
        background-color: white;
        z-index: 1;
        position: sticky;
        top: 0;
        margin-bottom: -20px;
    }
}

// Booking-form Car-page

.car-booking-form {
    display: flex;
    flex-direction: column;
    background-color: $color-form;
    border-radius: rem(20);
    padding: rem(30);
    margin-top: rem(52);

    @include md {
        margin-top: 0;
    }

    @include md {
        padding: rem(20);
        // position: sticky;
        // top: 0;
    }

    p {
        margin: 0;
    }

    &__price {
        font-size: rem(32);
        font-weight: 600;
        text-align: center;
        padding: rem(5);

        @include sm {
            font-size: rem(26);
            padding: 0;
        }

        span {
            font-size: rem(20);
            font-weight: 400;

            @include sm {
                font-size: rem(16);
            }
        }
    }

    &__minmax {
        text-align: center;
        padding-top: rem(10);
        font-size: rem(15);
        font-weight: 300;
        color: $color-text-black;

        span {
            padding: 0 rem(5);
            font-weight: 600;
        }
    }

    &__dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-light;
        padding: rem(20);
        border-radius: rem(15);
        margin-top: rem(10);
    }

    &__date {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background-image: url('assets/images/icons/icon-calendar.svg');
            width: rem(12);
            height: rem(12);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 12px;
        }
    }

    &__img {
        width: rem(18);
    }

    &__time-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(15);
        gap: rem(20);
    }

    &__time-block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__time-title {
        padding-bottom: rem(10);
        letter-spacing: 0.2px;
    }

    &__time {
        background-color: $bg-light;
        padding: rem(20);
        border-radius: rem(15);
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background-image: url('assets/images/icons/icon-time.svg');
            width: rem(16);
            height: rem(16);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 10px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding-top: rem(15);
        // padding-bottom: rem(15);
        gap: rem(5);

        &--box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                letter-spacing: 0.2px;
            }
        }

        &-discount-title {
            color: $color-primary;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                background-image: url('assets/images/icons/icon-discount.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: rem(20);
                height: rem(18);
                transform: rotate(180deg);
                margin-left: rem(-3);
            }

            span {
                font-size: rem(12);
                margin-left: rem(5);
                padding: rem(3);
                border: 1px solid;
                border-radius: rem(5);
            }
        }

        &-discount-sum {
            color: $color-primary;
        }

        &-total {
            padding-top: rem(3);
            font-size: rem(17);

            @include md {
                display: none;
            }
        }
    }
}

.car-booking-form__footer {
    display: none;

    @include md {

        position: sticky;
        bottom: 0;
        // background-color: $bg-light;
        // margin: 0px -20px;
        padding: 12px 13px;
        // border-top: 1px solid $color-gray;
        display: block;
        background-color: $color-form;
        border-radius: rem(20);

        &-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
            }
        }

        &-sum {
            padding-left: rem(10);
            font-size: rem(22);
        }

        &-text {
            flex-grow: 1;
            padding-left: 10px;
        }

        &-button {
            padding: rem(13) rem(30);
            border-radius: rem(10);
        }
    }

    @include md {
        order: 1;
    }
}

// Booking-form Finish step

.car-booking-form--finish {
    display: flex;
    flex-direction: column;
    background-color: $color-form;
    border-radius: rem(20);
    margin-top: rem(52);

    @include md {
        margin-top: 0;
    }

    p {
        margin: 0;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: rem(20);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__container {
        padding: rem(20) rem(30) rem(20);
    }

    &__car-name {
        font-size: rem(26);
        font-weight: 600;
        padding-bottom: rem(5);

        @include sm {
            font-size: rem(26);
        }

        span {
            font-size: rem(20);
            font-weight: 400;

            @include sm {
                font-size: rem(16);
            }
        }
    }

    &__dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-light;
        padding: rem(15);
        border-radius: rem(15);
        margin-top: rem(10);

        &-date {
            display: flex;
            align-items: center;
            font-size: rem(16);
            font-weight: 500;

            &::before {
                content: "";
                background-image: url('assets/images/icons/icon-calendar2.svg');
                width: rem(20);
                height: rem(20);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-left: 12px;
            }
        }

        &-time {
            padding-left: rem(32);
            padding-top: rem(5);
        }

        &-img {
            width: rem(18);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding-top: rem(15);
        gap: rem(5);

        &--box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                letter-spacing: 0.2px;
            }
        }

        &-discount-title {
            color: $color-primary;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                background-image: url('assets/images/icons/icon-discount.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: rem(20);
                height: rem(18);
                transform: rotate(180deg);
                margin-left: rem(-3);
            }

            span {
                font-size: rem(12);
                margin-left: rem(5);
                padding: rem(3);
                border: 1px solid;
                border-radius: rem(5);
            }
        }

        &-discount-sum {
            color: $color-primary;
        }

        &-total {
            padding-top: rem(3);
            font-size: rem(17);

            @include md {
                display: none;
            }
        }
    }
}