@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.rates {
    @include list-reset;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
    background-color: $bg-gray;
    border-radius: rem(15);
}

.rates-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: rem(15);
    padding: rem(20) rem(30);
    width: 100%;
    height: rem(80);

    &--current {
        background-color: $color-form;
    }

    p {
        margin: 0;
    }

    &__rate {
        font-size: rem(20);
        font-weight: 600;
        padding-bottom: rem(5);

        span {
            font-size: rem(18);
            font-weight: 400;

        }

        &--discount {
            color: $color-text-gray;
            text-decoration: line-through;
        }
    }
}

.car-headline {
    font-size: rem(32);
    font-weight: 600;
    margin-top: rem(20);
    padding: 0 rem(30);

    @include md {
        font-size: rem(24);
        padding: 0;
    }
}

.car-container {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(30);
    margin-top: rem(30);
    gap: rem(30);

    @include md {
        flex-direction: column;
        padding: 0 0;
        margin-top: rem(20);
    }
}

.car-content {
    display: flex;
    flex-direction: column;
    flex-basis: 63%;

    p {
        margin: 0;
    }

    &__img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: rem(20);
    }
}

.calendar-container {
    position: sticky;
    top: 0;
}

.car-booking-form {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    border: 1px solid $color-gray;
    border-radius: rem(20);
    padding: rem(30);

    p {
        margin: 0;
    }

    &__price {
        font-size: rem(36);
        font-weight: 600;
        text-align: center;
        background-color: $bg-gray;
        padding: rem(15) rem(30);
        border-radius: rem(15);

        @include sm {
            font-size: rem(26);
        }

        span {
            font-size: rem(24);
            font-weight: 400;

            @include sm {
                font-size: rem(18);
            }
        }


    }

    &__minmax {
        text-align: center;
        padding-top: rem(20);
        font-size: rem(15);
        color: $color-text-gray;

        span {
            padding: 0 rem(5);
            font-weight: 600;
        }
    }

    &__dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $color-gray;
        padding: rem(20);
        border-radius: rem(15);
        margin-top: rem(15);
    }

    &__date {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background-image: url('assets/images/icons/icon-calendar.svg');
            width: rem(12);
            height: rem(12);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 12px;
        }
    }

    &__img {
        width: rem(18);
    }

    &__time-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(20);
        gap: rem(20);
    }

    &__time-block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__time-title {
        padding-bottom: rem(10);
        // text-align: center;
    }

    &__time {
        border: 1px solid $color-gray;
        padding: rem(20);
        border-radius: rem(15);
        display: flex;
        align-items: center;
        // justify-content: center;

        &::before {
            content: "";
            background-image: url('assets/images/icons/icon-time.svg');
            width: rem(16);
            height: rem(16);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 10px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding-top: rem(30);
        padding-bottom: rem(20);
        gap: rem(10);

        &--box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
            }
        }

        &-discount-title {
            color: $color-primary;
            display: flex;

            &::before {
                content: "";
                background-image: url('assets/images/icons/icon-discount.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: rem(19);
                transform: rotate(180deg);
                margin-left: rem(-3);
            }
        }

        &-discount-sum {
            color: $color-primary;
        }
    }
}