@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.cars-container {
    // display: flex;
    position: relative;
    text-align: center;
}

.cars-img {
    width: 100%;
    border-radius: rem(20);
    object-fit: cover;

    @include sm {
        display: none;
    }
}

.cars-headline {
    font-size: rem(42);

    @include md {
        font-size: rem(32);
    }
}

.cars-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: rem(15);
    padding: 0;
    margin: 30px auto;
    max-width: rem(1200);

    @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @include sm {
        grid-template-columns: 1fr;
    }
}

.car-item {
    @include list-reset;

    &>a {
        text-decoration: none
    }
}

.car-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5);
    border: 1px solid rgb(215, 215, 215, 0.6);
    border-radius: rem(15);
    transition: box-shadow .6s ease;

    &>p {
        margin: 0;
    }

    &__class {
        color: $color-primary;
        font-size: rem(15);
        align-self: end;
        padding-right: rem(20);
        padding-top: rem(15);
    }

    &__img {
        width: 100%;
        padding: 0 rem(30);
        height: 216px;
        object-fit: contain;
        object-position: center;
    }

    &__title {
        font-size: rem(20);
    }

    &__description {
        font-size: rem(14);
        color: $color-text-gray;
    }

    &__line {
        display: block;
        width: calc(100% - 40px);
        margin: rem(5) 0;
        border-top: 1px solid $color-form;
    }

    &__price {
        font-weight: 600;

        &>span {
            color: $color-primary;
            font-size: rem(20);
        }
    }

    &__details {
        font-weight: 500;
        color: $color-primary;
        text-transform: lowercase;
        padding-bottom: rem(15);
    }

    &:hover {
        border: none;
        box-shadow: 2px 2px 12px 3px rgba($color-text-gray, .15);
    }
}

.cars-button {
    min-width: 300px;

    @include sm {
        width: 100%;
    }
}