@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.main-baner-container {
    // display: flex;
    position: relative;

    @include sm {
        height: 700px;
    }
}

.baner__img {
    width: 100%;
    border-radius: rem(20);
    height: 100vh;
    min-height: rem(600);
    object-fit: cover;

    @include md {
        height: auto;
        object-position: left rem(-60);
        min-height: inherit;
    }

    @include sm {
        height: 300px;
    }
}