@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.main-baner-container {
    // display: flex;
    position: relative;

    @include sm {
        height: rem(697);
        margin-bottom: rem(45);
    }
}

.baner__img {
    width: 100%;
    border-radius: rem(20);
    // height: 100vh;
    min-height: rem(700);
    object-fit: cover;

    @include md {
        height: auto;
        object-position: left;
        min-height: inherit;
    }

    @include sm {
        height: rem(349);
        position: sticky;
        top: rem(86);
    }
}

.main-section {
    @include sm {
        position: relative;
        height: 264px;
    }
}