@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.review-container {
    padding-top: rem(20);
    padding-bottom: rem(50);
}

.review-title {
    font-size: rem(42);
    font-weight: 600;
    text-align: center;
    padding-bottom: rem(10);

    @include md {
        font-size: rem(32);
    }
}

.review-rating {
    max-width: rem(1080);
    margin: rem(20) auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-gray;
    border-radius: rem(15);
    padding: rem(15) rem(25);

    @include sm {
        flex-direction: column;
        gap: rem(10);
    }

    p {
        margin: 0;
    }

    .logo-box {
        display: flex;
        align-items: center;
        gap: rem(10);

        .rating-subtitle {
            font-size: rem(20);
        }
    }

    .rating-box {
        display: inline-flex;
        align-items: center;

        &__counter {
            font-size: rem(24);
            font-weight: 600;
            padding-right: rem(6);

            @include sm {
                font-size: rem(20);
                padding: rem(10) rem(6) rem(10);
                text-align: center;
            }
        }

        &__img {
            width: rem(24);
            height: rem(24);
            color: $color-form;
        }
    }
}

.review-list {
    @include list-reset;

    display: flex;
    justify-content: space-between;
    gap: rem(20);
    max-width: rem(1080);
    margin: 0 auto;
    overflow-x: auto;
    scrollbar-width: none;
}

.review-list::-webkit-scrollbar {
    display: none;
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-gray;
    padding: rem(20);
    border-radius: rem(15);
    min-width: rem(346.67);

    p {
        margin: 0;
    }

    &__img {
        width: rem(50);
        height: rem(50);
    }

    &__name {
        font-size: rem(16);
        padding-top: rem(8);
        padding-bottom: rem(5);
    }

    &__rating-box {
        padding-bottom: rem(15);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__rating-box-img {
        width: rem(20);
        height: rem(20);
        color: $color-form;
    }

    .container-review-text {
        width: 100%;
        max-height: rem(135);
        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
        margin-bottom: rem(20);
        text-align: center;
    }

    &__text {
        letter-spacing: 0.2px;
        line-height: 1.2;
        color: #585858;
    }
}

.google-post {
    display: inline-flex;
    align-items: center;
    gap: rem(10);

    p {
        margin: 0;
    }
}

.google-post__title {
    font-size: rem(12);
    letter-spacing: 0.3px;
    color: $color-text-gray;
}

.google-post__name {
    font-size: rem(15);
    letter-spacing: 0.3px;
    color: $color-text-link;
}