@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.special-container {
    margin-top: rem(80);
    text-align: center;
}

.bg-container {
    @include sm {
        // padding: 0 rem(20);
        background-color: #f5f5f5;
        border-radius: rem(20);
        padding-top: rem(20);

    }
}

.special-headline {
    font-size: rem(42);
    padding: rem(10) 0;

    @include md {
        font-size: rem(32);
    }
}

.content-list {
    @include list-reset;

    max-width: rem(1400);
    margin: rem(20) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding: 0 rem(40);

    @include sm {
        flex-direction: column;
        padding: 0 rem(20);
    }
}

.special-item {
    position: relative;
    width: 100%;
    z-index: 1;

    &>a {
        text-decoration: none;
    }
}

.special-card {
    // display: flex;
    // flex-direction: column;

    &__img {
        width: 100%;
        border-radius: rem(15);
        filter: brightness(0.9);
        transition: filter 0.3s ease;
    }

    &__line {
        position: absolute;
        bottom: rem(72);
        left: rem(20);
        width: rem(120);
        border-top: 4px solid $color-form;

        @include md {
            bottom: rem(60);
        }
    }

    &__title {
        position: absolute;
        font-size: rem(24);
        font-weight: 600;
        text-align: left;
        width: rem(350);
        color: $color-text-white;
        bottom: 0;
        padding-left: rem(20);
        transition: color 0.3s ease;

        @include md {
            font-size: rem(20);
        }
    }

    &:hover>&__title {
        color: $color-form;
    }

    &:hover>&__img {
        filter: brightness(1)
    }
}

.news {
    position: relative;
    margin-top: rem(-160);
    width: 100%;
    background-color: $color-form;
    border-radius: rem(20);

    @include sm {
        margin-top: rem(-112);
    }
}

.news-container {
    padding-top: rem(200);
    padding-bottom: rem(50);

    @include sm {
        padding-top: rem(130);
    }
}

.news-item {
    position: relative;
    z-index: 1;
    width: 100%;

    &>a {
        text-decoration: none;
    }
}

.news-card {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__img {
        border-radius: rem(15);
        filter: brightness(0.9);
        transition: filter 0.3s ease;
    }

    &>p {
        margin: 0;
    }

    &__date {
        padding: rem(10) 0;
    }

    &__title {
        font-size: rem(18);
    }

    &:hover>&__img {
        filter: brightness(1)
    }
}