@use './functions' as *;

$font-base: "Epilogue", sans-serif;

$color-text-white: #FFFFFF;
$color-text-black: #333333;
$color-text-link: #2F80ED;

$color-primary: #EE653A;
$color-form: #FFDC42;

$bg-light: #fff;
$bg-dark: #28293E;

$breakpoints: (
    sm: rem(768),
    md: rem(992),
    lg:rem(1200)
);