@use './functions' as *;

$font-base: "Epilogue", sans-serif;

$color-text-white: #FFFFFF;
$color-text-black: #333333;
$color-text-gray: #757575;
$color-text-link: #2F80ED;

$color-primary: #EE653A;
$color-form: #FFDC42;
$color-white: #fff;
$color-gray: #d7d7d799;
$color-green: #22c55e;

$bg-light: #fff;
$bg-dark: #161616;
$bg-gray: #f5f5f5;

$breakpoints: (
    sm: rem(768),
    md: rem(992),
    lg:rem(1200)
);