@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: rem(20) rem(40);
    border: none;
    border-radius: rem(6);
    color: #fff;
    font-family: inherit;
    font-size: rem(14);
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    transition: background-color .3s ease, opasity .3s ease;
    white-space: nowrap;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

.button--lang {
    background-color: $color-primary;
    border-radius: rem(50);
    font-size: rem(12);
    font-weight: 400;
    padding: rem(10);

    &:hover,
    &:active {
        background-color: darken($color-primary, 5%);
        ;
    }

    @include md {
        display: none;
    }
}

.button--outline {
    color: $color-text-black;
    // border: 1px solid rgb(41, 41, 41);
    background-color: transparent;

    // &:hover,
    // &:active {
    //     background-color: rgba(255, 255, 255, 0.05);
    //     ;
    // }
}

.button--primary {
    color: $color-text-white;
    background-color: $color-primary;
    padding: rem(20) rem(60);
    font-family: 600;

    &:hover,
    &:active {
        background-color: darken($color-primary, 5%);
    }
}

.button--review {
    background-color: #4285f4;
    border-radius: 50px;
    padding: rem(10) rem(20);
    font-weight: 500;

    &:hover,
    &:active {
        background-color: lighten(#4285f4, 5%);
        ;
    }

}

/* .button--white {
    color: $color-text-dark;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);

    &:hover,
    &:active {
        opacity: .7;
    }
} */