@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.car-rating {
    font-size: rem(18);
    display: flex;
    align-items: center;

    &__img {
        width: rem(22);
        height: rem(22);
        color: $color-form;
        margin-left: rem(2);

        @include sm {
            width: rem(20);
            height: rem(20);
        }

        &--orange {
            color: $color-primary;
        }
    }

    span {
        font-size: rem(16);
        font-weight: 400;
        order: 1;
        padding-left: rem(5);

        @include sm {
            font-size: rem(15);
        }
    }

    @include sm {
        font-size: rem(16);
    }
}