@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url("../assets/fonts/Epilogue.ttf") format("truetype-variable");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  background-color: #fff;
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mt-5 {
  margin-top: 0.3125rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-5 {
  margin-bottom: 0.3125rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.nowrap {
  white-space: nowrap;
}

.button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 0.375rem;
  color: #fff;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 0.3s ease, opasity 0.3s ease;
  white-space: nowrap;
}
.button:hover, .button:active {
  text-decoration: none;
}

.button--lang {
  background-color: #EE653A;
  border-radius: 3.125rem;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.625rem;
}
.button--lang:hover, .button--lang:active {
  background-color: #ec5323;
}
@media screen and (max-width: 62rem) {
  .button--lang {
    display: none;
  }
}

.button--outline {
  color: #333333;
  background-color: transparent;
}

.button--primary {
  color: #FFFFFF;
  background-color: #EE653A;
  padding: 1.25rem 3.75rem;
  font-weight: 400;
  border-radius: 10px;
  letter-spacing: 0.2px;
}
.button--primary:hover, .button--primary:active {
  background-color: #ec5323;
}
.button--primary--height-46px {
  height: 2.875rem;
}

.button--review {
  background-color: #4285f4;
  border-radius: 50px;
  padding: 0.625rem 1.25rem;
  font-weight: 500;
}
.button--review:hover, .button--review:active {
  background-color: #5a95f5;
}

/* .button--white {
    color: $color-text-dark;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);

    &:hover,
    &:active {
        opacity: .7;
    }
} */
.select {
  width: 100%;
  padding: 0.9375rem 0.9375rem;
  background-color: #fff;
  color: #333333;
  font-size: 1rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-image: url("assets/images/icons/icon-select.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 35px 20px;
}
@media screen and (max-width: 48rem) {
  .select {
    font-size: 0.9375rem;
  }
}
.select--round {
  border-radius: 0.625rem;
}

.car-rating {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.car-rating__img {
  width: 1.375rem;
  height: 1.375rem;
  color: #FFDC42;
  margin-left: 0.125rem;
}
@media screen and (max-width: 48rem) {
  .car-rating__img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.car-rating__img--orange {
  color: #EE653A;
}
.car-rating span {
  font-size: 1rem;
  font-weight: 400;
  order: 1;
  padding-left: 0.25rem;
}
@media screen and (max-width: 48rem) {
  .car-rating span {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 48rem) {
  .car-rating {
    font-size: 1rem;
  }
}

.divider {
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
  margin: 1.25rem 0;
}

.header {
  color: #333333;
  padding: 0.625rem 0;
  position: relative;
  z-index: 10;
  background-color: #fff;
}
@media screen and (max-width: 48rem) {
  .header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    height: 5.5rem;
  }
}
@media screen and (max-width: 48rem) {
  .header--position {
    position: relative;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.header__menu {
  flex-grow: 5;
  padding: 0 2.625rem;
  padding-top: 0.1875rem;
}
@media screen and (max-width: 62rem) {
  .header__menu {
    flex-grow: 0;
    padding: 0;
    max-width: revert;
  }
}

@media screen and (max-width: 48rem) {
  .header__button {
    display: none;
  }
}

.header__phone {
  min-width: 10.875rem;
  margin-right: 1.25rem;
  text-align: end;
}
@media screen and (max-width: 62rem) {
  .header__phone {
    display: none;
  }
}

.header__phone:hover {
  text-decoration: none;
}

.header__phone::before {
  content: "";
  background-image: url("assets/images/icons/icon-call.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 30px;
}

.logo {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.logo:hover {
  text-decoration: none;
}
.logo__txt {
  color: #EE653A;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media screen and (max-width: 62rem) {
  .menu__list {
    display: none;
    align-items: revert;
    justify-content: revert;
    gap: 0;
  }
}

.menu__toggle {
  display: none;
  height: 3rem;
  padding: 0;
}
@media screen and (max-width: 62rem) {
  .menu__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu__item > a {
  text-decoration: none;
}
@media screen and (max-width: 62rem) {
  .menu__item {
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 62rem) {
  .menu__item-link {
    display: block;
    padding: 1rem 0;
    text-align: center;
    color: #FFFFFF;
  }
}
.menu__item-link::after {
  content: "";
  border-bottom: 2px solid #EE653A;
  display: block;
  margin-top: 2px;
  transform: scaleX(0);
}
@media screen and (max-width: 62rem) {
  .menu__item-link::after {
    display: none;
  }
}
.menu__item-link--current::after {
  content: "";
  border-bottom: 2px solid #EE653A;
  display: block;
  margin-top: 2px;
  transform: scaleX(100%);
}
@media screen and (max-width: 62rem) {
  .menu__item-link--current::after {
    display: none;
  }
}
.menu__item-link:hover::after {
  transition: transform 0.3s ease;
  transform: scaleX(100%);
}
.menu__item-link:focus::after {
  transform: scaleX(100%);
}

.menu__toggle-icon {
  display: inline-flex;
  flex-direction: column;
  width: 1rem;
  height: 1rem;
  position: relative;
  gap: 0.25rem;
}
.menu__toggle-icon .line {
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #333333;
  border-radius: 1px;
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.menu__toggle-icon .line-1 {
  transform-origin: -0.0625rem 0.375rem;
}
.menu__toggle-icon .line-3 {
  transform-origin: 0.1875rem -0.0625rem;
}

.menu__toggle.menu__toggle--active .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}
.menu__toggle.menu__toggle--active .line-2 {
  opacity: 0;
}
.menu__toggle.menu__toggle--active .line-3 {
  transform: rotate(-45deg) translateY(0) translateX(0);
}
@media screen and (max-width: 62rem) {
  .menu__toggle.menu__toggle--active + .menu__list {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #333333;
    flex-direction: column;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    height: 100vh;
  }
}

.two-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  gap: 3.125rem;
  max-width: 87.5rem;
  margin-top: 1.875rem;
}
@media screen and (max-width: 62rem) {
  .two-columns {
    flex-direction: column;
    padding: 0 1.25rem;
    gap: 0;
    margin-top: 0.625rem;
  }
}
@media screen and (max-width: 48rem) {
  .two-columns--finish {
    margin-top: 1.25rem;
  }
}

/* @forward 'section'; */
/* @forward 'section-columns'; */
/* @forward 'footer'; */
.main-baner-container {
  position: relative;
}
@media screen and (max-width: 48rem) {
  .main-baner-container {
    height: 43.5625rem;
    margin-bottom: 2.8125rem;
  }
}

.baner__img {
  width: 100%;
  border-radius: 1.25rem;
  min-height: 43.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 62rem) {
  .baner__img {
    height: auto;
    -o-object-position: left;
       object-position: left;
    min-height: inherit;
  }
}
@media screen and (max-width: 48rem) {
  .baner__img {
    height: 21.8125rem;
    position: sticky;
    top: 5.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .main-section {
    position: relative;
    height: 264px;
  }
}

.booking-form {
  position: absolute;
  top: 6.25rem;
  right: 6.25rem;
  width: 26.75rem;
  background-color: rgba(255, 220, 66, 0.9);
  border-radius: 1.25rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-form__title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 48rem) {
  .booking-form__title {
    font-size: 1.625rem;
  }
}
.booking-form > button {
  width: 100%;
}
@media screen and (max-width: 62rem) {
  .booking-form {
    position: relative;
    top: -6.375rem;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffdc42;
  }
}
@media screen and (max-width: 48rem) {
  .booking-form {
    padding: 1.5625rem 1.25rem;
    margin-top: 0.875rem;
  }
}
.booking-form--cars-page {
  position: sticky;
  top: 0;
  padding: 0 1.25rem 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffdc42;
  border-radius: 1.25rem;
  margin: 0 0 1.875rem;
  z-index: 1;
}
@media screen and (max-width: 62rem) {
  .booking-form--cars-page {
    display: none;
  }
}
.booking-form--cars-page--mobile {
  display: none;
}
@media screen and (max-width: 62rem) {
  .booking-form--cars-page--mobile {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffdc42;
    border-radius: 1.25rem;
    margin: 0 0 1.875rem;
    z-index: 1;
  }
}
@media screen and (max-width: 48rem) {
  .booking-form--cars-page--mobile {
    margin: 0 0 1.875rem;
  }
}

.booking-txt-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-bottom: 0.625rem;
}
.booking-txt-block p {
  font-weight: 600;
  margin: 0;
}
.booking-txt-block a {
  color: #2F80ED;
}
.booking-txt-block--cars-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.625rem;
  width: 100%;
}
.booking-txt-block--cars-page-mobile {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.875rem 1.25rem;
  gap: 0.3125rem;
}
.booking-txt-block--cars-page-mobile p {
  margin: 0;
}
.booking-txt-block--cars-page-mobile a {
  color: #2F80ED;
  text-decoration: none;
}
@media screen and (max-width: 48rem) {
  .booking-txt-block--cars-page-mobile--text {
    font-size: 0.9375rem;
  }
}

.select-block {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 48rem) {
  .mobile-container {
    width: 100%;
    height: 20px;
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
    margin-bottom: -20px;
  }
}

.car-booking-form {
  display: flex;
  flex-direction: column;
  background-color: #FFDC42;
  border-radius: 1.25rem;
  padding: 1.875rem;
  margin-top: 3.25rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form {
    margin-top: 0;
  }
}
@media screen and (max-width: 62rem) {
  .car-booking-form {
    padding: 1.25rem;
  }
}
.car-booking-form p {
  margin: 0;
}
.car-booking-form__price {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0.3125rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-form__price {
    font-size: 1.625rem;
    padding: 0;
  }
}
.car-booking-form__price span {
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (max-width: 48rem) {
  .car-booking-form__price span {
    font-size: 1rem;
  }
}
.car-booking-form__minmax {
  text-align: center;
  padding-top: 0.625rem;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #333333;
}
.car-booking-form__minmax span {
  padding: 0 0.3125rem;
  font-weight: 600;
}
.car-booking-form__dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  margin-top: 0.625rem;
}
.car-booking-form__date {
  display: flex;
  align-items: center;
}
.car-booking-form__date::before {
  content: "";
  background-image: url("assets/images/icons/icon-calendar.svg");
  width: 0.75rem;
  height: 0.75rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 12px;
}
.car-booking-form__img {
  width: 1.125rem;
}
.car-booking-form__time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.9375rem;
  gap: 1.25rem;
}
.car-booking-form__time-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.car-booking-form__time-title {
  padding-bottom: 0.625rem;
  letter-spacing: 0.2px;
}
.car-booking-form__time {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  display: flex;
  align-items: center;
}
.car-booking-form__time::before {
  content: "";
  background-image: url("assets/images/icons/icon-time.svg");
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10px;
}
.car-booking-form__details {
  display: flex;
  flex-direction: column;
  padding-top: 0.9375rem;
  gap: 0.3125rem;
}
.car-booking-form__details--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-booking-form__details--box p {
  margin: 0;
  letter-spacing: 0.2px;
}
.car-booking-form__details-discount-title {
  color: #EE653A;
  display: flex;
  align-items: center;
}
.car-booking-form__details-discount-title::before {
  content: "";
  background-image: url("assets/images/icons/icon-discount.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.25rem;
  height: 1.125rem;
  transform: rotate(180deg);
  margin-left: -0.1875rem;
}
.car-booking-form__details-discount-title span {
  font-size: 0.75rem;
  margin-left: 0.3125rem;
  padding: 0.1875rem;
  border: 1px solid;
  border-radius: 0.3125rem;
}
.car-booking-form__details-discount-sum {
  color: #EE653A;
}
.car-booking-form__details-total {
  padding-top: 0.1875rem;
  font-size: 1.0625rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form__details-total {
    display: none;
  }
}

.car-booking-form__footer {
  display: none;
}
@media screen and (max-width: 62rem) {
  .car-booking-form__footer {
    position: sticky;
    bottom: 0;
    padding: 12px 13px;
    display: block;
    background-color: #FFDC42;
    border-radius: 1.25rem;
  }
  .car-booking-form__footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .car-booking-form__footer-box p {
    margin: 0;
  }
  .car-booking-form__footer-sum {
    padding-left: 0.625rem;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .car-booking-form__footer-text {
    flex-grow: 1;
    padding-left: 0.625rem;
    font-size: 1rem;
    font-weight: 300;
  }
  .car-booking-form__footer-button {
    padding: 0.8125rem 1.875rem;
    border-radius: 0.625rem;
  }
}
@media screen and (max-width: 62rem) {
  .car-booking-form__footer {
    order: 1;
  }
}

.car-booking-form--finish {
  display: flex;
  flex-direction: column;
  background-color: #FFDC42;
  border-radius: 1.25rem;
  margin-top: 3.25rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form--finish {
    margin-top: 0rem;
  }
}
.car-booking-form--finish p {
  margin: 0;
}
.car-booking-form--finish__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.car-booking-form--finish__container {
  padding: 1.25rem 1.875rem 1.875rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-form--finish__container {
    padding: 1.25rem;
  }
}
.car-booking-form--finish__car-name-container {
  padding-left: 0.625rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form--finish__car-name-container {
    padding-left: 0;
  }
}
.car-booking-form--finish__car-name {
  font-size: 1.625rem;
  font-weight: 600;
  padding-bottom: 0.3125rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-form--finish__car-name {
    font-size: 1.375rem;
    padding-bottom: 0.1875rem;
  }
}
.car-booking-form--finish__car-name span {
  font-size: 1.125rem;
  font-weight: 400;
}
@media screen and (max-width: 48rem) {
  .car-booking-form--finish__car-name span {
    font-size: 1rem;
  }
}
.car-booking-form--finish__dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.875rem;
  border-radius: 0.9375rem;
  margin-top: 0.9375rem;
}
.car-booking-form--finish__dates-date {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}
.car-booking-form--finish__dates-date::before {
  content: "";
  background-image: url("assets/images/icons/icon-calendar2.svg");
  width: 1.25rem;
  height: 1.25rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 8px;
}
@media screen and (max-width: 48rem) {
  .car-booking-form--finish__dates-date {
    font-size: 0.9375rem;
  }
}
.car-booking-form--finish__dates-time {
  padding-left: 1.6875rem;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-form--finish__dates-time {
    font-size: 0.9375rem;
  }
}
.car-booking-form--finish__dates-img {
  width: 1.125rem;
}
.car-booking-form--finish__location {
  padding-top: 0.9375rem;
}
.car-booking-form--finish__location-title {
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form--finish__location-title {
    padding-left: 0;
  }
}
.car-booking-form--finish__details {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 0.625rem 0;
  gap: 0.3125rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form--finish__details {
    padding: 0.9375rem 0 0;
  }
}
.car-booking-form--finish__details--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-booking-form--finish__details--box p {
  margin: 0;
  letter-spacing: 0.2px;
}
.car-booking-form--finish__details-discount-title {
  color: #EE653A;
  display: flex;
  align-items: center;
}
.car-booking-form--finish__details-discount-title::before {
  content: "";
  background-image: url("assets/images/icons/icon-discount.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.25rem;
  height: 1.125rem;
  transform: rotate(180deg);
  margin-left: -0.1875rem;
}
.car-booking-form--finish__details-discount-title span {
  font-size: 0.75rem;
  margin-left: 0.3125rem;
  padding: 0.1875rem;
  border: 1px solid;
  border-radius: 0.3125rem;
}
.car-booking-form--finish__details-discount-sum {
  color: #EE653A;
}
.car-booking-form--finish__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.0625rem;
  background-color: rgba(255, 180, 0, 0.36);
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-form--finish__total {
    display: none;
  }
}

.cars-container {
  position: relative;
  text-align: center;
}

.cars-img {
  width: 100%;
  border-radius: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 48rem) {
  .cars-img {
    display: none;
  }
}

.steps-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 87.5rem;
  margin-bottom: 0.75rem;
  padding: 0.625rem 1.25rem;
  background-color: #f5f5f5;
  border-radius: 0.9375rem;
}
@media screen and (max-width: 62rem) {
  .steps-list {
    display: none;
  }
}

.step-mobile {
  display: none;
}
.step-mobile a {
  flex-shrink: 0;
}
@media screen and (max-width: 62rem) {
  .step-mobile {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin-bottom: 0.75rem;
    padding: 0.25rem 1.125rem;
    background-color: #f5f5f5;
    border-radius: 0.9375rem;
  }
}
.step-item {
  display: contents;
}
.step-item__img {
  margin: 0 auto;
  padding: 0 0.3125rem;
  width: 1.875rem;
}
.step-item__img--mobile {
  margin: 0;
  width: 1.25rem;
  rotate: 180deg;
}

.step-item__name {
  padding: 0 0.3125rem;
}
.step-item__name--checked {
  color: #EE653A;
}
.step-item__name--checked::before {
  content: "";
  background-image: url("assets/images/icons/icon-step.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 2.125rem;
}
.step-item__name--current {
  color: #333333;
}
.step-item__name--future {
  color: #757575;
}

.cars-headline {
  font-size: 2.625rem;
}
@media screen and (max-width: 62rem) {
  .cars-headline {
    font-size: 2rem;
  }
}
.cars-headline--cars {
  font-size: 2rem;
}

.cars-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.9375rem;
  padding: 0 2.5rem;
  margin: 30px auto;
  max-width: 87.5rem;
}
@media screen and (max-width: 62rem) {
  .cars-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 48rem) {
  .cars-list {
    grid-template-columns: 1fr;
    padding: 0 0rem;
  }
}

.car-item > a {
  text-decoration: none;
}

.car-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 0.9375rem;
  transition: box-shadow 0.6s ease;
  background-color: #fff;
}
.car-card > p {
  margin: 0;
}
.car-card__class {
  color: #EE653A;
  font-size: 0.9375rem;
  align-self: end;
  padding-right: 1.25rem;
  padding-top: 0.9375rem;
}
.car-card__img {
  width: 100%;
  padding: 0 1.875rem;
  height: 216px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.car-card__title {
  font-size: 1.25rem;
}
.car-card__description {
  font-size: 0.875rem;
  color: #757575;
}
.car-card__line {
  display: block;
  width: calc(100% - 40px);
  margin: 0.3125rem 0;
  border-top: 1px solid #FFDC42;
}
.car-card__price {
  font-weight: 600;
}
.car-card__price > span {
  color: #EE653A;
  font-size: 1.25rem;
}
.car-card__details {
  font-weight: 500;
  color: #EE653A;
  text-transform: lowercase;
  padding-bottom: 0.9375rem;
}
.car-card:hover {
  border: none;
  box-shadow: 2px 2px 12px 3px rgba(117, 117, 117, 0.15);
}

.cars-button {
  min-width: 300px;
}
@media screen and (max-width: 48rem) {
  .cars-button {
    width: 100%;
  }
}

.special-container {
  margin-top: 3.125rem;
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .bg-container {
    background-color: #f5f5f5;
    border-radius: 1.25rem;
    padding-top: 1.25rem;
  }
}

.special-headline {
  font-size: 2.625rem;
  padding: 0.625rem 0;
}
@media screen and (max-width: 62rem) {
  .special-headline {
    font-size: 2rem;
  }
}

.content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 87.5rem;
  margin: 1.25rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  padding: 0 2.5rem;
}
@media screen and (max-width: 48rem) {
  .content-list {
    flex-direction: column;
    padding: 0 1.25rem;
  }
}

.special-item {
  position: relative;
  width: 100%;
  z-index: 1;
}
.special-item > a {
  text-decoration: none;
}

.special-card__img {
  width: 100%;
  border-radius: 0.9375rem;
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}
.special-card__line {
  position: absolute;
  bottom: 4.5rem;
  left: 1.25rem;
  width: 7.5rem;
  border-top: 4px solid #FFDC42;
}
@media screen and (max-width: 62rem) {
  .special-card__line {
    bottom: 3.75rem;
  }
}
.special-card__title {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.2;
  text-align: left;
  width: 21.875rem;
  color: #FFFFFF;
  bottom: 0;
  padding-left: 1.25rem;
  transition: color 0.3s ease;
}
@media screen and (max-width: 62rem) {
  .special-card__title {
    font-size: 1.375rem;
    padding-right: 45px;
  }
}
@media screen and (max-width: 48rem) {
  .special-card__title {
    padding-right: 45px;
    font-size: 1.25rem;
  }
}
.special-card:hover > .special-card__title {
  color: #FFDC42;
}
.special-card:hover > .special-card__img {
  filter: brightness(1);
}

.news {
  position: relative;
  margin-top: -10rem;
  width: 100%;
  background-color: #FFDC42;
  border-radius: 1.25rem;
}
@media screen and (max-width: 48rem) {
  .news {
    margin-top: -7rem;
  }
}

.news-container {
  padding-top: 12.5rem;
  padding-bottom: 3.125rem;
}
@media screen and (max-width: 48rem) {
  .news-container {
    padding-top: 6.875rem;
    padding-bottom: 1.875rem;
  }
}

.news-item {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 100%;
}
.news-item > a {
  text-decoration: none;
}

.news-card {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.news-card__img {
  border-radius: 0.9375rem;
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}
.news-card > p {
  margin: 0;
}
.news-card__date {
  padding: 0.625rem 0 0.3125rem;
}
.news-card__title {
  font-size: 1.25rem;
  letter-spacing: 0.2px;
  line-height: 1.2;
}
.news-card:hover > .news-card__img {
  filter: brightness(1);
}

.about-container {
  display: flex;
  align-items: start;
  max-width: 75rem;
  margin: 1.875rem auto;
  padding: 0 2.5rem;
}
@media screen and (max-width: 62rem) {
  .about-container {
    flex-direction: column;
    padding: 0 1.25rem;
  }
}
@media screen and (max-width: 48rem) {
  .about-container {
    margin-top: 1.5625rem;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  max-width: 60%;
  padding: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .about-section {
    max-width: 100%;
  }
}
.about-section > p {
  margin: 0;
}
.about-section__title {
  font-size: 2.625rem;
  font-weight: 600;
}
@media screen and (max-width: 62rem) {
  .about-section__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 62rem) {
  .about-section__title {
    text-align: center;
  }
}
.about-section__lead {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
  max-width: 31.25rem;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 62rem) {
  .about-section__lead {
    font-size: 1.125rem;
  }
}
.about-section__description {
  line-height: 1.4;
  letter-spacing: 0.2px;
  font-size: 1.125rem;
  font-weight: 300;
  max-width: 31.25rem;
}
.about-section__description--link {
  color: #EE653A;
  text-decoration: none;
}
@media screen and (max-width: 62rem) {
  .about-section__description {
    align-self: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 48rem) {
  .about-section__description {
    font-size: 1rem;
  }
}
.about-section__img {
  margin-top: 1.25rem;
}

.about-advantages {
  max-width: 40%;
  width: 100%;
  flex-grow: 1;
  padding: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .about-advantages {
    max-width: 100%;
  }
}
@media screen and (max-width: 48rem) {
  .about-advantages {
    padding: 1.5625rem 0rem;
  }
}
.about-advantages > p {
  margin: 0;
}
.about-advantages__title {
  font-size: 2.625rem;
  font-weight: 600;
}
@media screen and (max-width: 62rem) {
  .about-advantages__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 62rem) {
  .about-advantages__title {
    text-align: center;
  }
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  padding: 0.3125rem 1.25rem;
  margin-top: 2.1875rem;
}

.advantages-item {
  display: inline-flex;
  align-items: center;
  gap: 0.9375rem;
  padding: 0.625rem 0;
}
.advantages-item__description {
  line-height: 1.4;
  letter-spacing: 0.2px;
}
.advantages-item:not(:last-child) {
  border-bottom: 2px solid #fff;
}

.faq-container {
  position: relative;
}

.faq-title {
  font-size: 2.625rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 62rem) {
  .faq-title {
    font-size: 2rem;
  }
}

.accordion-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 67.5rem;
  margin: 1.875rem auto;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 0.9375rem;
  overflow: hidden;
}

.accordion-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}
.accordion__header::-webkit-details-marker {
  display: none;
}
.accordion__header::-moz-list-bullet {
  list-style-type: none;
}
.accordion__header::marker {
  display: none;
}
.accordion__header::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.4375rem;
  position: absolute;
  top: calc(50% - 0.21875rem);
  right: 2.375rem;
  background-image: url("assets/images/icons/icon-arrow-accordion.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(0);
  transition: transform 0.25s ease;
}
.accordion__header::after {
  content: "";
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #ff8759;
  border-radius: 50%;
}
@media screen and (max-width: 48rem) {
  .accordion__header {
    padding: 1.6875rem;
  }
  .accordion__header::after {
    width: 1.625rem;
    height: 1.625rem;
  }
  .accordion__header::before {
    top: calc(50% - 0.1875rem);
    right: 2.15625rem;
    width: 0.6875rem;
    height: 0.375rem;
    background-size: contain;
  }
}

.accordion__title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.33;
  letter-spacing: 0.2px;
  margin: 0;
}
@media screen and (max-width: 48rem) {
  .accordion__title {
    font-size: 1rem;
  }
}

.accordion__body {
  padding: 0 3.125rem 1.25rem;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.2px;
  max-height: 0;
  font-size: 1.125rem;
  font-weight: 300;
}
.accordion__body p {
  margin-top: 0;
}
@media screen and (max-width: 48rem) {
  .accordion__body {
    padding: 0 1.75rem 1.25rem;
    font-size: 1rem;
  }
}

.accordion[open] .accordion__body {
  max-height: revert;
}
.accordion[open] .accordion__header {
  color: #333333;
}
.accordion[open] .accordion__header::before {
  transform: rotate(180deg);
}

.review-container {
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
}

.review-title {
  font-size: 2.625rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 62rem) {
  .review-title {
    font-size: 2rem;
  }
}

.review-rating {
  max-width: 67.5rem;
  margin: 1.25rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 0.9375rem;
  padding: 0.9375rem 1.5625rem;
}
@media screen and (max-width: 48rem) {
  .review-rating {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.review-rating p {
  margin: 0;
}
.review-rating .logo-box {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.review-rating .logo-box .rating-subtitle {
  font-size: 1.25rem;
}
.review-rating .rating-box {
  display: inline-flex;
  align-items: center;
}
.review-rating .rating-box__counter {
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 0.375rem;
}
@media screen and (max-width: 48rem) {
  .review-rating .rating-box__counter {
    font-size: 1.25rem;
    padding: 0.625rem 0.375rem 0.625rem;
    text-align: center;
  }
}
.review-rating .rating-box__img {
  width: 1.5rem;
  height: 1.5rem;
  color: #FFDC42;
}

.review-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  max-width: 67.5rem;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: none;
}

.review-list::-webkit-scrollbar {
  display: none;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  min-width: 21.666875rem;
}
.review-item p {
  margin: 0;
}
.review-item__img {
  width: 3.125rem;
  height: 3.125rem;
}
.review-item__name {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3125rem;
}
.review-item__rating-box {
  padding-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-item__rating-box-img {
  width: 1.25rem;
  height: 1.25rem;
  color: #FFDC42;
}
.review-item .container-review-text {
  width: 100%;
  max-height: 8.4375rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1.25rem;
  text-align: center;
}
.review-item__text {
  letter-spacing: 0.2px;
  line-height: 1.2;
  color: #585858;
}

.google-post {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
}
.google-post p {
  margin: 0;
}

.google-post__title {
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  color: #757575;
}

.google-post__name {
  font-size: 0.9375rem;
  letter-spacing: 0.3px;
  color: #2F80ED;
}

.map-title {
  text-align: center;
  font-size: 2.625rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .map-title {
    font-size: 2rem;
  }
}

.map-container {
  position: relative;
  margin: 1.25rem auto;
  overflow: hidden;
  max-width: 87.5rem;
  height: 18.75rem;
  border-radius: 0.9375rem;
}

.map {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 0.9375rem;
  margin: -2px;
}

.map-contacts {
  position: absolute;
  width: 18.75rem;
  top: 2.5rem;
  right: 2.5rem;
  background-color: rgba(255, 220, 66, 0.9);
  border-radius: 0.9375rem;
  padding: 1.25rem 1.25rem;
  z-index: 1;
}
@media screen and (max-width: 48rem) {
  .map-contacts {
    top: inherit;
    bottom: 0.625rem;
    right: inherit;
    left: 20%;
    width: 15.625rem;
    padding: 0.9375rem;
  }
}
.map-contacts > p {
  margin: 0;
}
.map-contacts__address {
  font-size: 1rem;
  line-height: 1.4;
  padding-bottom: 0.3125rem;
}
@media screen and (max-width: 48rem) {
  .map-contacts__address {
    font-size: 0.9375rem;
  }
}
.map-contacts__email {
  font-size: 1rem;
  line-height: 1.4;
}
.map-contacts__email::before {
  content: "";
  background-image: url("assets/images/icons/icon-email.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-right: 1.375rem;
}
@media screen and (max-width: 48rem) {
  .map-contacts__email {
    font-size: 0.9375rem;
  }
}
.map-contacts__phone {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.map-contacts__phone::before {
  content: "";
  background-image: url("assets/images/icons/icon-phone.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 1.5625rem;
}
@media screen and (max-width: 48rem) {
  .map-contacts__phone {
    font-size: 0.9375rem;
    font-weight: 600;
  }
}
.map-contacts__lead {
  padding-top: 0.3125rem;
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 48rem) {
  .map-contacts__lead {
    font-size: 0.875rem;
  }
}

.phone-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0.625rem;
}
.phone-container > p {
  margin: 0;
  padding: 0;
}
.phone-container a {
  text-decoration: none;
}

.map-contacts__icon-fb {
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 48rem) {
  .map-contacts__icon-fb {
    width: 22px;
    height: 22px;
  }
}

.car-headline {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 0.9375rem;
}
@media screen and (max-width: 62rem) {
  .car-headline {
    max-width: 100%;
    padding-top: 10px;
  }
}
.car-headline__title {
  font-size: 2rem;
  font-weight: 600;
}
.car-headline__title span {
  font-size: 1.125rem;
  color: #757575;
  font-weight: 300;
}
@media screen and (max-width: 62rem) {
  .car-headline__title {
    font-size: 1.5rem;
    padding: 0;
  }
}

.car-content {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}
.car-content p {
  margin: 0;
}
.car-content__img {
  width: 100%;
  max-height: 28.6875rem;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .car-content {
    font-size: 0.9375rem;
    order: 1;
  }
}

.car-characteristics {
  margin-top: 1.25rem;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .car-characteristics {
    margin: 0.625rem 0;
  }
}
.car-characteristics__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.9375rem;
}
@media screen and (max-width: 48rem) {
  .car-characteristics__list {
    font-size: 0.875rem;
  }
}
.car-characteristics__item {
  display: inline-flex;
  align-items: center;
  gap: 0.3125rem;
}
.car-characteristics__item-img {
  width: 24px;
  height: 24px;
}

.car-booking-settings {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.car-booking-settings__item {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.car-booking-settings__item-img {
  width: 1.5rem;
  height: 1.5rem;
}
.car-booking-settings__item-text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  letter-spacing: 0.2px;
}
.car-booking-settings__item-title {
  font-weight: 600;
}

.car-about {
  margin-top: 1.875rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.car-about__title {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}

.car-options {
  margin-top: 1.875rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.car-options__title {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.car-options__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.9375rem 1.25rem;
}
@media screen and (max-width: 48rem) {
  .car-options__list {
    gap: 0.625rem 0.9375rem;
  }
}
.car-options__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.car-options__item-img {
  width: 1.5rem;
  height: 1.5rem;
}

.car-extras {
  margin-top: 1.875rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.car-extras__title {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.car-extras__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.car-extras__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  max-width: 31.875rem;
}
.car-extras__item-block {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.car-extras__item-block-img {
  width: 1.5rem;
  height: 1.5rem;
}
.car-extras__item-price {
  flex-basis: 30%;
  padding-left: 0.625rem;
  text-align: end;
}

.car-rules {
  margin-top: 1.875rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.car-rules__title {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.car-rules__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.car-rules__item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.car-rules__item-img {
  width: 1.5rem;
  height: 1.5rem;
}

.car-location {
  margin-top: 1.875rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.car-location__title {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.car-location__description {
  font-size: 0.9375rem;
  padding-top: 0.3125rem;
}

.car-booking-info {
  flex-shrink: 3;
  max-width: 400px;
  max-height: 58rem;
  position: sticky;
  top: -3.25rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-info {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
    top: 0;
  }
}

.car-booking-basic-conditions {
  margin-top: 1.25rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  background-color: #f5f5f5;
}
@media screen and (max-width: 62rem) {
  .car-booking-basic-conditions {
    margin-top: 0.625rem;
  }
}
@media screen and (max-width: 48rem) {
  .car-booking-basic-conditions {
    padding: 1.25rem;
  }
}
.car-booking-basic-conditions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.car-booking-basic-conditions__item {
  display: flex;
  gap: 0.625rem;
}
.car-booking-basic-conditions__item-img {
  width: 1.5rem;
  height: 1.5rem;
}
.car-booking-basic-conditions__item-text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.car-booking-basic-conditions__item-name {
  font-size: 1rem;
  font-weight: 400;
}
.car-booking-basic-conditions__item-description {
  margin: 0;
  font-weight: 300;
}
.car-booking-basic-conditions__item-description a {
  text-decoration: none;
  color: #EE653A;
}
@media screen and (max-width: 48rem) {
  .car-booking-basic-conditions__item-description {
    font-size: 0.9375rem;
  }
}

@media screen and (max-width: 62rem) {
  .disable-mobile {
    display: none;
  }
}

.disable-desctop {
  display: none;
}
@media screen and (max-width: 62rem) {
  .disable-desctop {
    display: block;
  }
}

.car-booking-headline {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 62rem) {
  .car-booking-headline {
    padding-top: 1.25rem;
  }
}
@media screen and (max-width: 48rem) {
  .car-booking-headline {
    font-size: 1.375rem;
  }
}

.car-booking-cancelation {
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
.car-booking-cancelation__img {
  width: 1.5rem;
  height: 1.5rem;
}
.car-booking-cancelation__text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.car-booking-cancelation__text-title {
  font-size: 1.0625rem;
  font-weight: 400;
}
@media screen and (max-width: 48rem) {
  .car-booking-cancelation__text-title {
    font-size: 0.9375rem;
  }
}
.car-booking-cancelation__text-description {
  margin: 0;
  font-weight: 300;
}

.car-booking-add-services {
  margin-top: 1.875rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services {
    margin-top: 1.25rem;
  }
}
.car-booking-add-services__title {
  font-size: 1.625rem;
  font-weight: 600;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__title {
    font-size: 1.25rem;
  }
}
.car-booking-add-services__lead {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.625rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__lead {
    font-size: 0.9375rem;
  }
}
.car-booking-add-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.9375rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__list {
    gap: 0.625rem;
  }
}
.car-booking-add-services__item p {
  margin: 0;
}
.car-booking-add-services__item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 0.9375rem;
}
.car-booking-add-services__item a:hover {
  border-color: rgba(238, 100, 58, 0.4352941176);
  border-radius: 0.9375rem;
  transition: border-color 0.3s ease;
}
.car-booking-add-services__item a:focus {
  background-color: rgba(238, 101, 58, 0.1607843137);
  border: none;
  border-radius: 0.9375rem;
  overflow: hidden;
  box-shadow: none;
  padding: 1.3125rem;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__item a {
    padding: 0.9375rem;
  }
  .car-booking-add-services__item a:hover {
    background-color: rgba(238, 101, 58, 0.1607843137);
    border: none;
    border-radius: 0.9375rem;
    overflow: hidden;
    box-shadow: none;
    padding: 1.3125rem;
    transition: background-color 0.3s ease;
  }
}
.car-booking-add-services__item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0.9375rem;
  padding-right: 0.625rem;
  gap: 0.3125rem;
}
.car-booking-add-services__item-img {
  width: 1.875rem;
  height: 1.875rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__item-img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.car-booking-add-services__item-price {
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}
.car-booking-add-services__item-price span {
  font-size: 1rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__item-price span {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__item-price {
    font-size: 1rem;
  }
}
.car-booking-add-services__item-title {
  font-size: 1.0625rem;
}
.car-booking-add-services__item-title span {
  font-weight: 400;
  font-size: 0.9375rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-add-services__item-title {
    font-size: 0.9375rem;
  }
  .car-booking-add-services__item-title span {
    font-size: 0.8125rem;
  }
}

.car-booking-guest {
  display: block;
  margin-top: 1.875rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-guest {
    margin-top: 1.25rem;
  }
}
.car-booking-guest__title {
  font-size: 1.625rem;
  font-weight: 600;
}
@media screen and (max-width: 48rem) {
  .car-booking-guest__title {
    font-size: 1.25rem;
  }
}
.car-booking-guest__info {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0.625rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-guest__info {
    grid-template-columns: 1fr;
  }
}
.car-booking-guest__info input::-moz-placeholder {
  color: #757575;
  font-family: "Epilogue", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}
.car-booking-guest__info input::placeholder {
  color: #757575;
  font-family: "Epilogue", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}
@media screen and (max-width: 48rem) {
  .car-booking-guest__info input::-moz-placeholder {
    font-size: 0.875rem;
  }
  .car-booking-guest__info input::placeholder {
    font-size: 0.875rem;
  }
}
.car-booking-guest__info textarea::-moz-placeholder {
  color: #757575;
  font-family: "Epilogue", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}
.car-booking-guest__info textarea::placeholder {
  color: #757575;
  font-family: "Epilogue", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}
@media screen and (max-width: 48rem) {
  .car-booking-guest__info textarea::-moz-placeholder {
    font-size: 0.875rem;
  }
  .car-booking-guest__info textarea::placeholder {
    font-size: 0.875rem;
  }
}
.car-booking-guest__info--input {
  padding: 0.9375rem;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  color: #333333;
  border-radius: 0.625rem;
  border: none;
  background-color: #f5f5f5;
  outline: none;
}
.car-booking-guest__info--input:focus {
  border: 1px solid rgba(238, 100, 58, 0.4352941176);
  padding: 0.875rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-guest__info--input {
    font-size: 1rem;
  }
}
.car-booking-guest__info--comment {
  grid-column: 1/span 2;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  color: #333333;
  border-radius: 0.625rem;
  border: none;
  background-color: #f5f5f5;
  padding: 0.9375rem;
  outline: none;
  resize: none;
}
.car-booking-guest__info--comment:focus {
  border: 1px solid rgba(238, 100, 58, 0.4352941176);
  padding: 0.875rem;
}
@media screen and (max-width: 62rem) {
  .car-booking-guest__info--comment {
    grid-column: auto;
  }
}
@media screen and (max-width: 48rem) {
  .car-booking-guest__info--comment {
    font-size: 1rem;
  }
}

.car-booking-agree {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.25rem 0 1.875rem;
  gap: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 48rem) {
  .car-booking-agree {
    align-items: flex-start;
  }
}
.car-booking-agree a {
  color: #EE653A;
  text-decoration: none;
}
.car-booking-agree input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.car-booking-agree--checkbox {
  cursor: pointer;
  width: 19px;
  height: 19px;
  border: 1px solid #EE653A;
  border-radius: 0.1875rem;
  flex-shrink: 0;
}
.car-booking-agree--checkbox:checked {
  background-color: #EE653A;
}
.car-booking-agree--checkbox:checked::after {
  content: "";
  background-image: url("assets/images/icons/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
}
@media screen and (max-width: 48rem) {
  .car-booking-agree--checkbox:checked::after {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 48rem) {
  .car-booking-agree--checkbox {
    width: 17px;
    height: 17px;
  }
}
.car-booking-agree input:checked ~ .car-booking-agree--checkbox {
  background-color: #4ca230;
}

.button--size-240px {
  width: 15rem;
  align-self: center;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 48rem) {
  .button--size-240px {
    display: none;
  }
}

.finish-booking-info {
  width: 50%;
}
@media screen and (max-width: 62rem) {
  .finish-booking-info {
    width: 100%;
  }
}
.finish-booking-info__container {
  display: flex;
  flex-direction: column;
  max-width: 28.125rem;
  margin-left: auto;
}
.finish-booking-info__container p {
  margin: 0;
}
@media screen and (max-width: 62rem) {
  .finish-booking-info__container {
    max-width: 100%;
  }
}
.finish-booking-info__img {
  width: 8.75rem;
  align-self: center;
}
.finish-booking-info__headline {
  font-size: 1.5rem;
  padding-top: 1.25rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__headline {
    font-size: 1.25rem;
    text-align: center;
  }
}
.finish-booking-info__description {
  padding-top: 0.625rem;
  font-size: 1.125rem;
  font-weight: 300;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__description {
    font-size: 1rem;
    text-align: center;
  }
}
.finish-booking-info__price {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 1.25rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__price {
    font-size: 1rem;
  }
}
.finish-booking-info__price span {
  font-size: 1.625rem;
  font-weight: 600;
  color: #EE653A;
  padding-left: 9.375rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__price span {
    font-size: 1.375rem;
    padding-left: 3.125rem;
  }
}
.finish-booking-info__pickup {
  padding-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__pickup {
    font-size: 1rem;
  }
}
.finish-booking-info__pickup span {
  font-size: 1.125rem;
  font-weight: 300;
  padding-left: 0.625rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__pickup span {
    font-size: 1rem;
  }
}
.finish-booking-info__location {
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 0.625rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__location {
    font-size: 1rem;
  }
}
.finish-booking-info__car {
  padding-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__car {
    font-size: 1.125rem;
  }
}
.finish-booking-info__model {
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 0.625rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__model {
    font-size: 1rem;
  }
}
.finish-booking-info__button {
  width: 12.5rem;
  margin-top: 1.875rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-info__button {
    width: 100%;
  }
}

.finish-booking-reminder {
  width: 50%;
}
@media screen and (max-width: 62rem) {
  .finish-booking-reminder {
    width: 100%;
  }
}
.finish-booking-reminder__container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  padding: 2.5rem;
  max-width: 28.125rem;
  margin-top: 4rem;
}
@media screen and (max-width: 62rem) {
  .finish-booking-reminder__container {
    max-width: 100%;
    padding: 1.875rem;
  }
}
@media screen and (max-width: 48rem) {
  .finish-booking-reminder__container {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
.finish-booking-reminder__title {
  font-size: 1.25rem;
}
@media screen and (max-width: 48rem) {
  .finish-booking-reminder__title {
    font-size: 1.125rem;
  }
}
.finish-booking-reminder__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
}
@media screen and (max-width: 62rem) {
  .finish-booking-reminder__list {
    justify-content: space-evenly;
  }
}
.finish-booking-reminder__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 48rem) {
  .finish-booking-reminder__item-img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.finish-booking-reminder__item-name {
  text-align: center;
}
@media screen and (max-width: 48rem) {
  .finish-booking-reminder__item-name {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=style.css.map */